$primary-color:#ccc;
$white:#FFFFFF;
$bg-color:#EBEDEF;
$black:#15181D;
$light-gray:#CBCBCD;
$code-gray:#CBCBCD;
$code-dark:#272C35;
$code-answer-bg:#E0E6E7;
$gray:#222327;
$orange: #FF4D00;
$gray-blue: #71828E;
$ps-pink:#FF0050 ;
$ps-gradient:linear-gradient(-90deg, #E10077 0%, #F33200 100%);
