$main-type:GothamSSm-Book  !important;
$main-type-light:GothamSSm-light  !important;

.question h1 {
  font-family: $main-type;
  font-size: 36px !important;
  color: $light-gray !important;
  margin-top: 50px;
}

.answer h1 {
  font-family: $main-type;
  font-size: 36px !important;
  color: $black !important;
  text-align: left;
  margin-top: 50px;
}
h3 {
    // margin: 10px 0px 15px 0px;
}
.question h3 {
  color: $white;
  font-family: $main-type-light;
  font-size: 14px;
  margin: 10px 0px 15px 0px;
  letter-spacing: -0.42px;
}

.answer h3 {
  color: $black;
  font-family: $main-type-light;
  font-size: 14px;
}


p {
  font-family: $main-type-light;
  font-size: 16px;
  line-height: 1.7em;
  letter-spacing: -0.42px;
}

.question article p {
  color: $light-gray;

}

.answer article p {
  color: $black;

}
