/* line 1, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_reset.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 4, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_typography.scss */
.question h1 {
  font-family: GothamSSm-light !important;
  font-size: 36px !important;
  color: #CBCBCD !important;
  margin: 50px 0 40px 0;
}

/* line 11, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_typography.scss */
.answer h2 {
  font-family: GothamSSm-light !important;
  font-size: 36px !important;
  color: #15181D !important;
  text-align: center;
  margin-top: 50px;
}

/* line 21, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_typography.scss */
.question h3 {
  color: #FFFFFF;
  font-family: GothamSSm-light !important;
  font-size: 16px;
  margin: 10px 0px 15px 0px;
  letter-spacing: -0.42px;
}

/* line 29, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_typography.scss */
.answer h3 {
  color: #15181D;
  font-family: GothamSSm-light !important;
  font-size: 16px;
  margin: 10px 0px 15px 0px;
  letter-spacing: -0.42px;
}

/* line 38, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_typography.scss */
p {
  font-family: GothamSSm-light !important;
  font-size: 16px;
  line-height: 1.7em;
  letter-spacing: -0.42px;
}

/* line 45, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_typography.scss */
.question article p {
  color: #CBCBCD;
}

/* line 50, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_typography.scss */
.answer article p {
  color: #15181D;
}

/* line 54, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_typography.scss */
.question aside.aside h2 {
  font-size: 14px !important;
  font-family: GothamSSm-Book !important;
  color: #FCFCFC !important;
  text-align: center !important;
  margin: 0px 0px 0px 0px !important;
}

/* line 61, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_typography.scss */
.question aside.aside h3 {
  font-size: 12px !important;
  font-family: GothamSSm-light !important;
  color: #FCFCFC !important;
  text-align: center !important;
  background-image: url("../img/React-icon.png");
  background-position: 22px 2px;
  background-repeat: no-repeat;
  padding: 4px 0px 4px 10px;
  margin: 5px 0px 7px 0px;
}

/* line 73, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_typography.scss */
.answer aside.aside h2 {
  font-size: 14px !important;
  font-family: GothamSSm-Book !important;
  color: #15181D;
  text-align: center !important;
  margin: 0px 0px 0px 0px !important;
}

/* line 80, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_typography.scss */
.answer aside.aside h3 {
  font-size: 12px !important;
  font-family: GothamSSm-light !important;
  color: #71828E;
  text-align: center !important;
  padding: 4px 0px 4px 0px;
  margin: 5px 0px 7px 0px;
}

/* line 89, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_typography.scss */
.answer .answer-container h2.clip-header {
  font-family: GothamSSm-Book !important;
  font-size: 21px !important;
  color: #000000 !important;
  text-align: left;
  background-image: url("../img/icon-play.png");
  background-position: 0px 3px;
  background-repeat: no-repeat;
  padding: 4px 0px 4px 35px;
  margin: 5px 0px 7px 0px;
}

/* line 101, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_typography.scss */
p.video-details {
  padding: 0 0 0 35px;
  margin: 3px 0;
}

/* line 105, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_typography.scss */
ul {
  padding: 0 80px;
  margin: 0 !important;
}

/* line 109, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_typography.scss */
ul li {
  font-family: GothamSSm-light !important;
  font-size: 16px;
  line-height: 1.7em;
  letter-spacing: -0.42px;
}

/* line 116, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_typography.scss */
p.author {
  font-size: 12px !important;
  min-height: 50px;
  background-image: url("../img/author.png");
  background-position: 0px 3px;
  background-repeat: no-repeat;
  padding: 0px 0px 0px 50px;
  margin: 5px 0px 7px 0px;
}

/* line 127, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_typography.scss */
p span.author-badge {
  color: #FF0050 !important;
  font-family: GothamSSm-Book !important !important;
  background-image: url("../img/author-badge.png");
  background-position: 0px 1px;
  background-repeat: no-repeat;
  padding: 3px 0px 0px 20px;
  margin-left: 5px;
}

/* line 1, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_blocks.scss */
body {
  background-color: #EBEDEF !important;
}

/* line 4, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_blocks.scss */
body, html, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

/* line 9, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_blocks.scss */
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

/* line 20, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_blocks.scss */
.wrapper > * {
  flex: 1 100%;
}

/* line 25, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_blocks.scss */
.header {
  background: tomato;
}

/* line 29, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_blocks.scss */
.footer {
  background-color: #222327;
}

/* line 33, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_blocks.scss */
.main {
  text-align: left;
}

@media all and (min-width: 600px) {
  /* line 47, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_blocks.scss */
  .aside {
    flex: 1 auto;
  }
}

@media all and (min-width: 800px) {
  /* line 51, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_blocks.scss */
  .main {
    flex: 4 0px;
  }
  /* line 52, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_blocks.scss */
  .aside-1 {
    order: 1;
    flex: 1;
    margin-right: 20px;
  }
  /* line 53, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_blocks.scss */
  .main {
    order: 2;
    flex: 4;
    margin-right: 20px;
  }
  /* line 54, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_blocks.scss */
  .aside-2 {
    order: 3;
    flex: 1;
  }
  /* line 55, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_blocks.scss */
  .footer {
    order: 4;
  }
}

/* line 58, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_blocks.scss */
.question-bg {
  background-color: #222327;
}

/* line 61, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_blocks.scss */
.wrapper.question {
  max-width: 1050px;
  margin: auto;
}

/* line 66, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_blocks.scss */
.question .question-container {
  padding-bottom: 70px;
  background-color: #222327;
}

/* line 70, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_blocks.scss */
.wrapper.answer {
  max-width: 1050px;
  margin: auto;
}

/* line 74, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_blocks.scss */
.answer aside {
  margin-top: 40px;
}

/* line 80, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_blocks.scss */
.answer .answer-container {
  margin: 20px 0px;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 3px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

/* line 88, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_blocks.scss */
.code {
  padding: 20px;
  margin-top: 30px;
  border-radius: 3px;
  font-family: monospace;
}

/* line 95, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_blocks.scss */
.question .code {
  background-color: rgba(0, 0, 0, 0.2);
  color: #CBCBCD;
}

/* line 101, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_blocks.scss */
.answer .code {
  background-color: #E0E6E7;
  color: #272C35;
  margin-bottom: 30px;
}

/* line 107, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_blocks.scss */
.question aside, .answer aside {
  padding-top: 10px;
}

/* line 111, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_blocks.scss */
.answer .video {
  padding: 20px;
  margin-top: 30px;
  border-radius: 3px;
  background-color: #15181D;
  color: #CBCBCD;
  margin-bottom: 20px;
  height: 400px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

/* line 159, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_blocks.scss */
.container > .navbar {
  margin-bottom: 0;
}

/* line 162, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_blocks.scss */
header {
  background-color: #15181D !important;
  padding: 25px;
}

/* line 171, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_blocks.scss */
article h1 {
  text-align: center;
}

/* line 175, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_blocks.scss */
header > .container > .jumbotron {
  border-radius: 0;
  margin-bottom: 20px;
}

/* line 185, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_blocks.scss */
.gradient-border {
  height: 2px;
  background-image: linear-gradient(-90deg, #E10077 0%, #F33200 100%);
}

/* line 190, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_blocks.scss */
.row > .col-xs-12, .col-sm-6, .col-md-6, .col-lg-3 > .thumbnail {
  border: none;
  margin: 20px auto;
}

/* line 194, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_blocks.scss */
div.media {
  margin-top: 60px;
}

/* line 197, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_blocks.scss */
.flex {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
}

/* line 2, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_components.scss */
input[type=text] {
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  font-family: GothamSSm-light !important;
  font-size: 21px !important;
  font-weight: 100;
  color: #FFFFFF;
  background-color: #15181D;
  background-image: url("../img/searchicon.png");
  background-position: 5px 8px;
  background-repeat: no-repeat;
  padding: 6px 20px 6px 56px;
}

/* line 22, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_components.scss */
.btn {
  font-family: GothamSSm-Book !important;
  color: #FFFFFF !important;
}

/* line 26, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_components.scss */
.btn-primary.signup {
  background: #FF4D00;
  border-color: #FF4D00 !important;
  padding: 10px 20px !important;
  align-items: center;
}

/* line 32, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_components.scss */
.btn-default.signin {
  background-color: transparent;
  border-color: #15181D;
  padding: 10px 20px !important;
  align-items: center;
}

/* line 38, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_components.scss */
.btn-primary.signup:hover, .btn-primary.signup:focus {
  background-color: rgba(255, 77, 0, 0.7) !important;
  border-color: rgba(255, 77, 0, 0.7) !important;
}

/* line 42, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_components.scss */
.btn-default.signin:hover, .btn-default.signin:focus {
  background-color: #222327 !important;
  border-color: #222327 !important;
}

/* line 47, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_components.scss */
.question .aside-1 .question-image img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

/* line 54, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_components.scss */
.question .aside-1 .question-image {
  margin: 0 auto;
  display: block;
  width: 60px;
  height: 60px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

/* line 64, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_components.scss */
.answer .aside-1 .proficient-image img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

/* line 72, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_components.scss */
.answer .aside-1 .proficient-image {
  margin: 0 auto;
  display: block;
  width: 64px;
  height: 64px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid #92D330;
}

/* line 1, /Users/mikebaird/Documents/GitHub/mikebaird-ps.github.io/static-test/scss/_footer.scss */
footer {
  height: 350px;
  background: #ccc;
  margin-top: 60px;
}

/*# sourceMappingURL=../css/main.map */